# =========================
# ENV & SECRETS
# =========================
.env
*.env

# =========================
# BUILD FILES
# =========================
target/
build/

# =========================
# IDE FILES
# =========================
.idea/
*.iml

# =========================
# LOGS
# =========================
*.log

# =========================
# ZIP FILES
# =========================
*.zip